.header {
    min-height: 60px;
    background-color: #ececec;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    &__logo {
        padding-left: 40px;
    }
    &__nav {
        padding: 0 40px;
    }
    &_menu {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
    }
    &_link {
        color: #000000;
    }
}